html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}

.table {
	background-color: #efefef;
}

#flags {
    /* position: relative; */
    /* position: absolute; */
    /* top: 50%; */
    /* right: 50%; */
    /* display: inline-block; */
    /* margin: 5px 0 0 0 */

    /* position: relative; */
    /* top: 50%; */
    /* transform: translate(0px, -100%); */
    /* right: 4px; */
    /* z-index: 100; */
    /* background: transparent; */
}

.flag {
    display: inline-block;
	/* position: relative; */
    top: 50%;
    /* transform: translate(0px, -100%); */
    right: 4px;
    /* z-index: 100; */
    background: transparent;
	margin: 0.6em 0 0 1em;
	padding: 0 0 0 5px;

    /* display:flex;
    flex-flow: column nowrap;
    justify-content: space-between; */
}

	@media only screen and (max-width: 1045px) {
		#menu-one-pager-menu {
		font-size: 0.5em;
		padding: 0;
		},
		.flag {
		/* display: block !important; */
		}
	}

#menu-one-pager-menu {
    /* background-color: rgb(224, 44, 44); */
    padding-left: auto;
    /* padding-right: 3em; */
    width: 45em;
    /* display: flex; */
    /* list-style: none; */
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); */
    /* grid-template-columns: repeat(9, 1fr); */
    /* grid-template-rows: 2fr; */
    /* grid-gap: 5px; */

    /* display: grid; */
    /* grid-template-rows: repeat(2, 1fr); */
    /* gap: 10px; */
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 1fr 1fr; */
}

.container {
    /* margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; */

}

.header {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f7f7f7;
	border-color: #f7f7f7;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-overflow-scrolling: touch;
	z-index: 11;
	min-height: 30px;
	color: #555;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.header .container {
    margin: 0 auto;
	position: relative;

    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); */
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    grid-auto-flow: dense; */

    /* grid-template-rows: repeat(1, 1fr); */
    /* gap: 10px; */
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 300px 100px; */

    /* background-color: rgb(224, 44, 44); */
    /* display: flex; */
    /* list-style: none; */
    /* padding-left: auto; */
    /* padding-right: 3em; */
}
.header a:link,
.header a:visited {
	color: #444;
}
.header a:hover,
.header a:active {
	color: #aec40b;
}
.header .topbar {
	font-size: 13px;
	position: relative;
	z-index: 101;
	background-color: #efefef;
	color: #efefef;
}
.header .topbar a:link,
.header .topbar a:visited {
	color: #555;
}
.header .topbar a:hover,
.header .topbar a:active {
	color: #aec40b;
}
.header .topbar .container {
	border-bottom: solid 1px #ddd;
}
.header .topbar div[class*='col-'] {
	padding-top: 8px;
	padding-bottom: 2px;
}
.header .mainbar {
	border-color: #f7f7f7;
}
.header.transparent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f7f7f7 !important;
	background-color: rgba(247, 247, 247, 0.8) !important;
}
.sticky_header .header.transparent {
	position: fixed;
}
body.sticky_header .header {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.collapsed {
	-o-transform: translate(-250px, 0px);
	-webkit-transform: translate(-250px, 0px);
	-ms-transform: translate(-250px, 0px);
	transform: translate(-250px, 0px);
}
.logo {
	margin: 15px 0;
    padding-left: 4.4em;
	display: inline-block;
}
.logo a.brand {
	display: block;
	line-height: 1em;
	text-align: left;
	font-size: 32px;
	font-weight: 900;
}
.logo a.brand img {
	width: auto;
	max-height: 50px;
}
.logo a.brand:link,
.logo a.brand:visited {
	color: #444;
}
.logo p {
	padding: 0;
	margin: 0;
	color: #555;
}

label.mobile_collapser,
span.close_menu {
	display: none;
}
.menu_container,
.top_menu_container {
	position: absolute;
	top: 50%;
	-o-transform: translate(0px, -50%);
	-webkit-transform: translate(0px, -50%);
	-ms-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
	right: 4px;
	z-index: 100;
	background: transparent;
}

#menu_container_heb {
	width: 41em
	/* margin-right: 0em; */
}

#menu_container_ru {
	width: 44em
}

.menu_container ul.main_menu,
.top_menu_container ul.main_menu,
.menu_container ul.top_menu,
.top_menu_container ul.top_menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu_container ul.main_menu li,
.top_menu_container ul.main_menu li,
.menu_container ul.top_menu li,
.top_menu_container ul.top_menu li {
	float: left;
	background: inherit;
	width: auto;
	text-align: left;
	position: relative;
}
.menu_container ul.main_menu li.lihasdropdown > a:after,
.top_menu_container ul.main_menu li.lihasdropdown > a:after,
.menu_container ul.top_menu li.lihasdropdown > a:after,
.top_menu_container ul.top_menu li.lihasdropdown > a:after {
	font-family: Arial, sans-serif;
	content: '\2023';
	font-size: 20px;
	position: absolute;
	top: 12.16666667px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 5px;
	color: #444;
	height: 13px;
	width: 13px;
	line-height: 13px;
	overflow: hidden;
	opacity: 0.5;
}
.menu_container ul.main_menu li.lihasdropdown:hover > a:after,
.top_menu_container ul.main_menu li.lihasdropdown:hover > a:after,
.menu_container ul.top_menu li.lihasdropdown:hover > a:after,
.top_menu_container ul.top_menu li.lihasdropdown:hover > a:after {
	opacity: 1;
}
.menu_container ul.main_menu li a,
.top_menu_container ul.main_menu li a,
.menu_container ul.top_menu li a,
.top_menu_container ul.top_menu li a {
	font-size: 13px;
	line-height: 1em;
	padding: 10px 12px;
	display: block;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	background-color: transparent;
}
.menu_container ul.main_menu li a:link,
.top_menu_container ul.main_menu li a:link,
.menu_container ul.top_menu li a:link,
.top_menu_container ul.top_menu li a:link,
.menu_container ul.main_menu li a:visited,
.top_menu_container ul.main_menu li a:visited,
.menu_container ul.top_menu li a:visited,
.top_menu_container ul.top_menu li a:visited {
	color: #444;
}
.menu_container ul.main_menu li a:hover,
.top_menu_container ul.main_menu li a:hover,
.menu_container ul.top_menu li a:hover,
.top_menu_container ul.top_menu li a:hover,
.menu_container ul.main_menu li a:active,
.top_menu_container ul.main_menu li a:active,
.menu_container ul.top_menu li a:active,
.top_menu_container ul.top_menu li a:active {
	color: #aec40b;
}
.menu_container ul.main_menu li.lihasdropdown > a,
.top_menu_container ul.main_menu li.lihasdropdown > a,
.menu_container ul.top_menu li.lihasdropdown > a,
.top_menu_container ul.top_menu li.lihasdropdown > a {
	padding: 10px 22px 10px 12px;
}
.menu_container ul.main_menu li.lihasdropdown ul li a,
.top_menu_container ul.main_menu li.lihasdropdown ul li a,
.menu_container ul.top_menu li.lihasdropdown ul li a,
.top_menu_container ul.top_menu li.lihasdropdown ul li a {
	font-size: 11px;
}
.menu_container ul.main_menu li.active > a:link,
.top_menu_container ul.main_menu li.active > a:link,
.menu_container ul.top_menu li.active > a:link,
.top_menu_container ul.top_menu li.active > a:link,
.menu_container ul.main_menu li.active > a:visited,
.top_menu_container ul.main_menu li.active > a:visited,
.menu_container ul.top_menu li.active > a:visited,
.top_menu_container ul.top_menu li.active > a:visited {
	color: #aec40b;
}
.menu_container ul.main_menu li.active > a:hover,
.top_menu_container ul.main_menu li.active > a:hover,
.menu_container ul.top_menu li.active > a:hover,
.top_menu_container ul.top_menu li.active > a:hover,
.menu_container ul.main_menu li.active > a:active,
.top_menu_container ul.main_menu li.active > a:active,
.menu_container ul.top_menu li.active > a:active,
.top_menu_container ul.top_menu li.active > a:active {
	color: #aec40b;
}
.menu_container ul.main_menu li.drop-left ul.menu-dropdown,
.top_menu_container ul.main_menu li.drop-left ul.menu-dropdown,
.menu_container ul.top_menu li.drop-left ul.menu-dropdown,
.top_menu_container ul.top_menu li.drop-left ul.menu-dropdown,
.menu_container ul.main_menu li.dropleft ul.menu-dropdown,
.top_menu_container ul.main_menu li.dropleft ul.menu-dropdown,
.menu_container ul.top_menu li.dropleft ul.menu-dropdown,
.top_menu_container ul.top_menu li.dropleft ul.menu-dropdown {
	right: -28px;
	left: inherit;
}
.menu_container ul.main_menu li.drop-right ul.menu-dropdown,
.top_menu_container ul.main_menu li.drop-right ul.menu-dropdown,
.menu_container ul.top_menu li.drop-right ul.menu-dropdown,
.top_menu_container ul.top_menu li.drop-right ul.menu-dropdown {
	left: -28px;
}
.menu_container ul.main_menu li.drop-mid ul.menu-dropdown,
.top_menu_container ul.main_menu li.drop-mid ul.menu-dropdown,
.menu_container ul.top_menu li.drop-mid ul.menu-dropdown,
.top_menu_container ul.top_menu li.drop-mid ul.menu-dropdown {
	left: -130%;
}
.menu_container ul.main_menu li.drop-mid.two_column ul.menu-dropdown,
.top_menu_container ul.main_menu li.drop-mid.two_column ul.menu-dropdown,
.menu_container ul.top_menu li.drop-mid.two_column ul.menu-dropdown,
.top_menu_container ul.top_menu li.drop-mid.two_column ul.menu-dropdown {
	left: -225px;
}
.team_social + .menu_container {
	right: 45px;
}
.top_menu_container {
	z-index: 101;
}
.top_menu_container ul.top_menu li.lihasdropdown > a:after {
	color: #555;
}
.top_menu_container ul.top_menu li a {
	font-size: 11px;
}
.top_menu_container ul.top_menu li a:link,
.top_menu_container ul.top_menu li a:visited {
	color: #555;
}
.top_menu_container ul.top_menu li a:hover,
.top_menu_container ul.top_menu li a:active {
	color: #aec40b;
}
.top_menu_container ul.top_menu li.active > a:link,
.top_menu_container ul.top_menu li.active > a:visited {
	color: #aec40b;
}
.top_menu_container ul.top_menu li.active > a:hover,
.top_menu_container ul.top_menu li.active > a:active {
	color: #aec40b;
}
.menu_container ul.main_menu li ul.menu-dropdown,
.top_menu_container ul.top_menu li ul.menu-dropdown {
	list-style: none;
	padding: 23px 0;
	margin: 0;
	background-color: #f7f7f7;
	top: 23px;
	z-index: 30;
	overflow: visible !important;
	height: auto;
	min-height: 40px;
	max-height: 3000px;
	display: inherit;
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	left: -28px;
	border: none;
	border-radius: 0;
	border-bottom: 4px solid #aec40b;
}
.menu_container ul.main_menu li ul.menu-dropdown.show,
.top_menu_container ul.top_menu li ul.menu-dropdown.show {
	-o-transform: translate(0, 10px);
	-webkit-transform: translate(0, 10px);
	-ms-transform: translate(0, 10px);
	transform: translate(0, 10px);
	-webkit-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	-webkit-overflow-scrolling: touch;
}
.menu_container ul.main_menu li ul.menu-dropdown li,
.top_menu_container ul.top_menu li ul.menu-dropdown li {
	display: block;
	position: relative;
	width: 100%;
	padding: 0 0px;
}
.menu_container ul.main_menu li ul.menu-dropdown li a,
.top_menu_container ul.top_menu li ul.menu-dropdown li a {
	display: block;
	padding: 7px 40px;
	text-decoration: none;
	margin: 0;
	line-height: 1em;
	white-space: nowrap;
}
.menu_container ul.main_menu li ul.menu-dropdown li a .fa,
.top_menu_container ul.top_menu li ul.menu-dropdown li a .fa {
	font-size: 16px;
	line-height: 0.7em;
	margin-right: 6px;
}
.menu_container ul.main_menu li ul.menu-dropdown li a span.label,
.top_menu_container ul.top_menu li ul.menu-dropdown li a span.label {
	left: 3px;
	position: relative;
	top: -2px;
}
.menu_container ul.main_menu li ul.menu-dropdown li:hover > a,
.top_menu_container ul.top_menu li ul.menu-dropdown li:hover > a {
	background: #aec40b;
	color: #f7f7f7;
}
.menu_container ul.main_menu li ul.menu-dropdown li ul.menu-dropdown,
.top_menu_container ul.top_menu li ul.menu-dropdown li ul.menu-dropdown {
	height: auto;
	display: none;
	position: absolute;
	top: -150%;
	width: 100%;
	min-width: 160px;
	left: 100%;
	-webkit-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	-webkit-overflow-scrolling: touch;
}
.menu_container ul.main_menu li ul.menu-dropdown li ul.menu-dropdown li a,
.top_menu_container ul.top_menu li ul.menu-dropdown li ul.menu-dropdown li a {
	font-weight: 700;
	padding: 7px 20px;
}
.top_menu_container ul.top_menu li ul.menu-dropdown {
	background-color: #efefef;
	border-bottom: 4px solid #aec40b;
	top: 18px !important;
	padding: 6px 0 10px 0;
}
.top_menu_container ul.top_menu li ul.menu-dropdown li:hover > a {
	background: #aec40b;
	color: #efefef;
}
.menu_container ul.menu-dropdown > li.active > a,
.menu_container ul.menu-dropdown > li.active > a:hover,
.menu_container ul.menu-dropdown > li.active > a:focus {
	background-color: #f7f7f7;
}
.top_menu_container ul.menu-dropdown > li.active > a,
.top_menu_container ul.menu-dropdown > li.active > a:hover,
.top_menu_container ul.menu-dropdown > li.active > a:focus {
	background-color: #efefef;
}
.menu_container ul > li > ul > li.sublihasdropdown .menu-dropdown,
.top_menu_container ul > li > ul > li.sublihasdropdown .menu-dropdown {
	padding: 10px 0 !important;
	top: -20px !important;
}
.menu_container ul > li > ul > li.sublihasdropdown > a:after,
.top_menu_container ul > li > ul > li.sublihasdropdown > a:after {
	content: "\203A";
	position: absolute;
	font-family: Arial, sans-serif;
	top: 0px;
	right: 15px;
	font-size: 20px;
	line-height: 1em;
	font-weight: bold;
	opacity: 0.5;
}
.menu_container ul > li > ul > li.sublihasdropdown:hover > a:after,
.top_menu_container ul > li > ul > li.sublihasdropdown:hover > a:after {
	opacity: 1;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul,
.menu_container ul.main_menu li.two-column.lihasdropdown ul {
	overflow: hidden;
	width: 550px;
	padding: 23px 0;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li,
.menu_container ul.main_menu li.two-column.lihasdropdown ul li {
	float: left;
	width: 50%;
	border-right: solid 1px #444;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li:nth-child(even),
.menu_container ul.main_menu li.two-column.lihasdropdown ul li:nth-child(even) {
	border-right: solid 0px;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li:nth-child(odd),
.menu_container ul.main_menu li.two-column.lihasdropdown ul li:nth-child(odd) {
	clear: left;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li a,
.menu_container ul.main_menu li.two-column.lihasdropdown ul li a {
	white-space: normal;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li ul,
.menu_container ul.main_menu li.two-column.lihasdropdown ul li ul {
	width: auto;
	width: 100%;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li ul li,
.menu_container ul.main_menu li.two-column.lihasdropdown ul li ul li {
	float: none;
	width: 100%;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li.sublihasdropdown ul li,
.menu_container ul.main_menu li.two-column.lihasdropdown ul li.sublihasdropdown ul li {
	border-right: solid 0px;
}
.menu_container ul.main_menu li.two_column.lihasdropdown ul li.sublihasdropdown > a:after,
.menu_container ul.main_menu li.two-column.lihasdropdown ul li.sublihasdropdown > a:after {
	right: 10px;
}
.top_menu_container {
	position: relative;
	top: inherit;
	-o-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	right: inherit;
}
.top_menu_container ul.top_menu > li:first-child > a {
	padding-left: 0;
}
.top_menu_container ul.top_menu > li:last-child:not(.lihasdropdown) > a {
	padding-right: 0;
}
.menu_container ul.main_menu li.btn {
	padding: 0 5px;
	margin: 0 12px;
	border-radius: 30px;
}
.menu_container ul.main_menu li.btn.btn-sm > a,
.menu li.btn.btn-sm > a {
	font-size: 80%;
	line-height: 1.3em;
}
.menu_container ul.main_menu li.btn:last-child {
	margin-right: 0px;
}
.menu_container ul.main_menu li.btn > a,
.menu li.btn > a,
.menu_container ul.main_menu li.btn > a:after {
	color: inherit;
}
.main.collapsed,
.head_panel.collapsed {
	z-index: -1;
}

.btn-primary {
	color: #fff !important;
	background-color: #9cc222 !important;
	border-color: transparent !important;
}

.btn-primary:hover {
	color: #fff !important;
	background-color: #79971a !important;
	border-color: rgba(0, 0, 0, 0) !important;
}

.btn {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	background-image: none;
	border: 0px solid transparent;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 1.5;
	padding: 8px 24px;
	font-size: 13px !important;
	line-height: 1.5 !important;
	border-radius: 0;
}

a {
	color: #9cc222;
	margin: 0;
	padding: 0;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: #e2801d;
}
